td {
  padding: 0px;
}
.datepicker_trigger {
  margin-left: 6px;
  vertical-align: top;
  .vertical-align: middle; /* IE-only */
  cursor: pointer;
  display: inline;
}
#datepicker_div, .datepicker_cover { width: 179px; }

/* Hacks borrowed from default calendar stylesheet */
#datepicker_div {
  display: none;
  z-index: 9999;  
}
.datepicker_cover {
  display: none;
  display/**/: block;
  position: absolute;
  z-index: -1;
  filter: mask();
  top: -4px;
  left: -4px;
  height: 221px; /* = maximum height */
}

/* Borders */
.datepicker_control, .datepicker_links, .datepicker_header, table.datepicker {
  border: 1px solid #b4b4b4;
  border-top: none;
  border-bottom: none;
}
.datepicker_control{ border-top: 1px solid #679ca9; }
.datepicker_header { border-bottom: 1px solid #ddd;  }
.datepicker        { border-bottom: 1px solid #dadada; }
#datepicker_div    { border-bottom: 2px solid #848482; }

/* Backgrounds */
.datepicker_control                 { background-color: #02627a; }
.datepicker_links, .datepicker_header { background-color: #e9e9e9; }
.datepicker                         { background-color: #f7f7f7; }

/* Links */
.datepicker_control a, .datepicker_links a {
  font-size: 11px;
  cursor: pointer;
}
.datepicker_control a {
  color: #fff;
  border-bottom: 1px dotted #fff;
}
.datepicker_links a {
  color: #02627a;
  border-bottom: 1px dotted #02627a;
}

/* Layout */
.datepicker_control, .datepicker_links, .datepicker_header {
  line-height: 13px;
  padding: 1px 8px 3px;
  font-size: 12px;
  height: 16px;
}
.datepicker_control { text-align: right; }
.datepicker_links   { text-align: center; }
.datepicker_prev    { position: absolute; left:  8px; }
.datepicker_next    { position: absolute; right: 8px; top: 19px; }
.datepicker_header * { font: 11px Arial; }
.datepicker_newMonth { width: 95px; }
.datepicker_newYear  { width: 60px; margin-left: 6px; }
.datepicker {
  padding-top: 3px;
  width: 100%;
  border-collapse: separate;
  border-spacing: 2px;
  text-align: center;
}

/* Dates */
.datepicker_titleRow {
  color: #b2b2b2;
  cursor: default;
}
.datepicker_daysCell {
  border: 1px solid #f7f7f7;
  cursor: pointer;
}
.datepicker_weekEndCell a { color: #900; }
.datepicker_otherMonth {
  color: #ddd;
  cursor: default;
}
.datepicker_currentDay, .datepicker_daysCellOver { border-color: #666; }
.datepicker_currentDay {
  font-weight: bold;
  background-color: #666;
}
.datepicker_currentDay a { color: #fff; }
.datepicker_close  { display: none; }
.datepicker_oneMonth {width: 179px; float: left;}