/* PREAMBLE */
* {
	margin: 0;
	padding: 0;
}

:focus { -moz-outline-style: none; } /* kill Firefox dotted outlines */

.hide { /* not displayed, but still copied to the clipboard */
	display: inline-block;
	display: -moz-inline-box;
	width: 0;
	height: 0;
	overflow: hidden;
}
html, body {height: 100%;}
html>body #master_wrapper {
	height: auto;
	min-height: 100%;
}
body {
	background: #ffffff url("/images/bg_console_1.jpg") repeat-x;
	height: 100%;
	margin: 0px;
	padding: 0px;
	behavior: url("/javascripts/csshover.htc");
}

.ops-console {
	background: none;
}

.ops-console .inner {
	width: auto;
}

.ops-console #content {
	margin-top: 2px;
	width: auto;
	overflow: visible;
}

.ops-console .ops-menu {
	position: absolute;
	top: 0px;
	left: 15px;
	width: 130px;
}

.ops-console .head {
	padding: 14px;
}

.ops-console .ops-menu img.ops-logo {
	margin: 4px 0px;
}

#master_wrapper {
	position: relative;
	height: 100%;
}
#header {
	padding-top: 14px;
}
ul#nav {
	top: 66px;
}
#empty {
	height: 40px;
}
a#logo {
	float: left;
	position: relative;
}

#footer {
	position: relative;
	left: 0;
	width: 100%;
	padding: 20px 0;
	margin-top:-90px;
	height: 50px;
	bottom: 0px;
}

#footer.console {
	margin-top: 40px;
}

#master_wrapper  .inner {
	margin-bottom: 80px;
}
#master_wrapper #footer .inner {
	margin-bottom: 0px;
}
#top_section_small {
	background: url(/images/bg_sub_mainphoto_small_1.gif) no-repeat !important;
	height: 38px !important;
	margin-top: 7px;
	width: 953px;
}
#top_section_small div { 
	position: relative;
}
div#master_wrapper #top_section_small h1, #top_section_small h2 {
	position: absolute;
	font: normal 1.9em "Trebuchet Ms", "Lucida Grande", Arial, Sans-serif;
	color: #000;
	top: 5px;
} 
div#master_wrapper #top_section_small h1 {
	padding: 0;
	padding-left: 14px;
	background: none;
} 
#top_section_small h2 {
	right: 20px;
	width: 550px;
	overflow: hidden;
	white-space: nowrap;
	text-align: right;
}
.arrow_text {
	font-size: 0.6em;
	background: url(/images/arrow.gif) no-repeat left center;
	padding-left: 10px;
	font-weight: normal;
}
#sidebar_left {
	float: left;
}
ul#nav_left {
	margin: 0 0 36px 0;
	padding: 0px;
}
ul.nav_left li  {
	list-style-type: none;
}
ul.nav_left a {
	border-bottom: #E9EAE9 solid 1px;
	display: block;
	padding: 12px 0 12px 14px;
	margin-right: 21px;
	color: #003333;
	height: 1%;
}
ul.nav_left a span.number, ul.nav_left a span.number_red {
	color: #99cc66;
	font: 11px Arial, Helvetica, sans-serif;
	padding-left: 6px;
}
ul.nav_left a#active span.active_link {
	font-weight: normal;
	padding-left: 0px;
}
ul.nav_left a span.number_red {
	color: #ff0000;
}
ul.nav_left a:hover {
	background-color: #FAF9F5; 
	text-decoration: none;
	color: #0099CC;
}
ul.nav_left a#active{
	background: url(/images/active_link.jpg) no-repeat center;
	color: #ffffff;
	font-weight: bold;
	margin-right: 0px;
}
.div_ltcol_top {
	background: url(/images/div_ltnav_top.gif) no-repeat;
	width: 144px;
	height: 26px;
	overflow: hidden;
}
.div_ltcol_mid {
	background-color: #ffffff;
	width:142px;
	border-left: #ECECEC solid 1px;
	border-right: #ECECEC solid 1px;
}
.div_ltcol_bot {
	background:url(/images/div_ltnav_bot.gif) no-repeat;
	width:144px;
	height:4px;
	overflow:hidden;
}
.div_ltcol_top h3 {
	padding: 7px 0 0 7px;
	font: 1em "Trebuchet Ms", "Lucida Grande", Arial, Sans-serif;
	font-weight: bold;	
}
.div_ltcol_mid .lt_nav p {
	padding: 4px;
	font-size: 8pt;
	font-family: Arial, Helvetica, sans-serif;
}
.div_ltcol_mid .lt_nav p a {
	display: inline;
	padding: 0px;
	text-decoration: underline;
}
.div_ltcol_mid .lt_nav p {
	margin-bottom: 0px;
}

.div_ltcol_mid .lt_nav p a:hover {
	text-decoration: none;
}
.left_box {
	margin-bottom: 18px;
}
.gray_text {
	color: #676767;
	font-size: 9px;
	font-family: tahoma;
}
#margin_0 p, #bottom_0 {
	margin-bottom: 0px;
}

/* LAYOUT, BLOCK & LINKS */

#col_mid_console {
	border: #DFDFDF solid 1px;
	padding: 12px 13px;
	overflow: hidden;
	position: relative;
}

#sidebar_right {
	width: 201px;
	float: right;
	height: 1%;
}

#col_mid_console .block {
	width: 532px;
}

#col_mid_console #sidebar_right .block {
	width: auto;
}

#col_mid_console #sidebar_right .block .password-area {
	width: 100%;
	height: 25px;
	margin-top: 1px;
}

.center {
	text-align: center;
}

.block, .block_100 {
	margin-bottom: 16px;
}

.block h3, .block_100 h3 {
	position: relative;
	padding: 11px 10px;
	font-size: 18px;
	background: #e9e9e9;
	margin-bottom: 1px;
}

.block h3 a.action {
	position: absolute;
	right: 12px; 
}

a.action {
	margin-top: 1px;
	border-bottom: 1px dotted #02627a;
	font-size: 13px;
	line-height: 15px;
	text-decoration: none;
	font-weight: normal;
	color: #02627a;
}

/* SITE SEAL STATS */

.block.site-seal-stats h3 {
	background-image: url(/images/site_seal.jpg);
	background-repeat: no-repeat;
	background-position: 10px center;
	padding-left: 28px;
}

dl {
	/*font-size: 70%;*/
	line-height: 110%;
	padding: 0;
	margin: 0 0 0 8px;
	width: 100%;	
	height: 74px;
}
dt, dd {
	padding: 5px 3px;
	margin: 0;
	font-size: 0.89em;
}
dt.first , dd.first {	
	border-bottom: #F0EFEB solid 1px;
	color: #7F7F7F;	
}
dt {
	width: 80px;
	float: left;
	clear: both;
}
dd {
	float: left;
	text-align: right;
	width: 40px;
}
/* FAQ */
.faq {
	clear: both;
}

.faq ul {
	list-style-type: none;
}
.faq ul li a {
	background: url(/images/arrow_link.gif) no-repeat 10px center;
	padding: 9px 5px 9px 24px;
	border-top: #F1F1F1 solid 1px;
	display: block;
}

.faq select {
	margin:9px 5px 9px 10px;
	width: 181px;
}

/* COMMON TASKS */

.common-tasks div {
	position: relative;
}

.common-tasks div div {
	margin-left: 0px;
	background: url(/images/pane-left.png) no-repeat;
}
.common-tasks div div.dir_tasks {
	background: none;
}

.common-tasks div div div {
	margin-left: 4px;
	background: url(/images/pane-right.png) right no-repeat;
}

.common-tasks div div div p {
	margin-right: 3px;
	background: url(/images/pane-middle.png) repeat-x;
	padding: 7px 8px;
	height: 75px;
	overflow-y: auto; 
}

.common-tasks ul {
	position: absolute;
	top: 0;
	width: 240px; 
}

.common-tasks li {
	list-style-type: none;
}

.common-tasks li a {
	display: block;
	padding-left: 40px;
	line-height: 28px;
	border-bottom: 1px solid #f1f1f1;
	margin-bottom: 1px;
	text-decoration: none;
	color: #02627a;
	background: #fffca5 url(.) no-repeat 13px center;
}

.common-tasks li a.active {
	color: #0099cc;
	background-color: #faf9f5; 
}

.common-tasks li a.question-mark {
	background-image: url(/images/icon-question-mark.png);
}

.common-tasks li a.checkbox {
	background-image: url(/images/icon-checkbox.png);
}

.common-tasks li p {
	display: none;
}


/* REVIEWS */

.reviews {
	position: relative;
}

.reviews li {
	list-style-type: none;
	border-bottom: 1px solid #dfdfdf;
	padding: 10px 12px;
}

.reviews li.active {
	 background: #faf9f5;
}

.reviews h4 {
	position: relative;
	margin-bottom: 10px;
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
color: #999999;
}

.reviews h4 .stars-0,
.reviews h4 .stars-1,
.reviews h4 .stars-2,
.reviews h4 .stars-3,
.reviews h4 .stars-4,
.reviews h4 .stars-5 {
  display: inline-block;
  display: -moz-inline-box;
  width: 84px;
  height: 16px;
  vertical-align: top;
  background-repeat: repeat-x;
}
.reviews h4 .stars-0 { background-image: url('/images/stars/0.png'); }
.reviews h4 .stars-1 { background-image: url('/images/stars/1.png'); }
.reviews h4 .stars-2 { background-image: url('/images/stars/2.png'); }
.reviews h4 .stars-3 { background-image: url('/images/stars/3.png'); }
.reviews h4 .stars-4 { background-image: url('/images/stars/4.png'); }
.reviews h4 .stars-5 { background-image: url('/images/stars/5.png'); }

.reviews h4 .name {
	color: #000;
}

.reviews h4 .date {
	position: absolute;
	right: 50px;
	font-size: 11px;
	color: #000;
}

.reviews h4 a.action {
	position: absolute;
	right: 0;
	visibility: hidden;
}

.reviews li.active h4 a.action {
	visibility: visible;
}

.reviews p {
	margin-top: 0px;
}

.reviews li.disabled h4 {
	color: #e0e0e0;
}

.reviews li.disabled h4 .name,
.reviews li.disabled h4 .date,
.reviews li.disabled p {
	color: #b2b2b2;
}

.reviews li.disabled h4 .stars-0 { background-image: url('/images/stars/disabled/0.png'); }
.reviews li.disabled h4 .stars-1 { background-image: url('/images/stars/disabled/1.png'); }
.reviews li.disabled h4 .stars-2 { background-image: url('/images/stars/disabled/2.png'); }
.reviews li.disabled h4 .stars-3 { background-image: url('/images/stars/disabled/3.png'); }
.reviews li.disabled h4 .stars-4 { background-image: url('/images/stars/disabled/4.png'); }
.reviews li.disabled h4 .stars-5 { background-image: url('/images/stars/disabled/5.png'); }
.disputes .company-name, .reviews .company-name { font-weight:bold; }
#content .reviews p, #content .disputes p {margin-bottom:0px}
/* begin---console-sites */
.sites-button {
	width: 96px;
	height: 23px;
	border: none;
	border: #CBCBCB solid 1px;
	background: url(/images/sites-button.jpg) repeat-x;
	color: #2A2A2A;
	font-size: 0.6em;
	vertical-align: middle;
	cursor: pointer;
}
table.sites-table {
	width: 100%;
	border-collapse: collapse;
}
table.sites-table td {
	padding-left: 16px;
	border-bottom: #DFDFDF solid 1px;
}
table.sites-table td.url {
	width: 464px;
}
table.sites-table td.badge {
	width: 63px;
	font-size: 0.89em;
}
table.sites-table td.status {
	width: 164px;
	font-size: 0.89em;
}
table.sites-table td.head {
	color: #7F7F7F;
	font-size: 0.89em;
}
table.sites-table td.delete {
	width: 63px;
}
table.sites-table td.delete a, a.cancel, a.editor_cancel, ul.websites li a.cancel {
	color: #DD0000;
	border-bottom: #DD0000 dotted 1px;	
}
a.cancel {
	margin-left: 15px;
}
a.cancel:hover, ul.websites li a.cancel:hover {
	margin-left: 15px;
	border-bottom: none;
	text-decoration: none;
}
table.sites-table td.delete a {
	color: #DD0000;
	border-bottom: #DD0000 dotted 1px;
	visibility: hidden;
} 
table.sites-table td.delete a:hover {
	text-decoration: none;
	border: none;
} 
table.sites-table td.status a {
	background: url(/images/icons/help.jpg) no-repeat right;
	padding: 1px 20px 1px 0;	
}
table.sites-table td.status a .badge-not-installed {
        color: #DD0000;
}
table.sites-table td.status a .waiting-for-activity {
        color: #04B000;
}
table.sites-table td.status a .receiving-data {
        color: #04B000;
}
table.main {
	width: 100%;
	border-collapse: collapse;
}
table.main td {
	border: none;	
}
.badges {
	background: url(/images/background/gradient.jpg) repeat-x top;
	border: #FFF7C6 solid 2px;
	border-top: none;
}
.badges_ {
	padding: 0px;
	margin: 0px;
}
.badges_ td {
	text-align: center;
}
.badges_ a {
	border: #F1F1F1 solid 1px;
	display: block;
}
.badges_ a.active_badge, .badges_ a.using_badge, .badges_ a.active_badge:hover {
	border: #FFEC70 solid 3px;
	background: url(/images/background/acvive_badge.jpg) repeat-x;
}

.badges_ a.using_badge, .badges_ a.using_badge:hover{
	border: #827F70 solid 3px;
}
.badges_ a:hover {
	border: #95D4E9 solid 1px;
	
}
.badges_ a img {
	border: none;
	padding: 10px;	
	vertical-align: middle;
}
.yellow {
	background-color: #FFEC70;
	padding: 5px 0;
}
.copy-button {
	width: 151px;
	height: 38px;
	background: url(/images/buttons/copy-button.jpg);
	border: none;
	cursor: pointer;
	margin-left: 190px;
}
.copied_clip {
	background-color: #FFEC70;
	padding: 5px 9px;
	margin-left: 17px;
	/*visibility:hidden;*/
}
.copy_padd {
	padding: 17px 0;
}
/* end---console-sites */
.billing {
	padding-top: 24px;
	width: 754px;
	background: url(/images/background/gradient.jpg) repeat-x top;
}
.billing .text {
	text-align: right;
	width: 149px;
}
.billing .pole {	
	width: 242px;
}
.billing .type {	
	width: 93px;
}
.billing .date {	
	width: 44px;
}
.billing .date_year {	
	width: 63px;
}
.save-button, .update-button {
	background: url(/images/buttons/save-button.jpg) no-repeat;
	width: 83px;
	height: 37px;
	border: none;
	cursor: pointer;
	vertical-align:middle;
	margin-right: 17px;
}
.poloska {
	border-bottom: #D7DDD6 solid 1px;
	margin: 0px;
	font-size: 1px;	
}
.area {
	width: 350px; 
	height: 87px;
	overflow: auto;
	padding: 0px;
}

textarea.area {
	font-size: 12px;
}

.middle {
	vertical-align: middle;
}
.category {
	width: 364px;
	color: #000;
}
.padd_346 {
	padding-left: 336px;
}
table.contacts {
	width: 100%;
	vertical-align: top;
}
table.contacts .edit {
	float: right;
	margin-right: 10px;
}
table.contacts p {
	margin-top: 5px;
	padding: 0 44px 0 28px;
}
.active_contacts {
	background-color: #fff7c6;
}
.update-button {
	background: url(/images/buttons/update-button.jpg) no-repeat;	
}
.active_table {
	border: #fff7c6 solid 1px;
	vertical-align: top;
	padding-top: 55px;
	width: 498px;
}
.add-site {
	width: 107px;
	height: 34px;
	background: url(/images/buttons/add-site.jpg) no-repeat;
	padding: 10px;
	margin-left: 55px;
	color: #2A2A2A;
	font-size: 0.6em;
	position:relative;
	top: 6px;
	vertical-align: bottom;
}
a.add-site:hover {
	text-decoration: none;
}
.done-button {
	width: 61px;
	height: 23px;
	font-size: 1em;
	margin: 0 10px 0 16px;
}
.gray-box{
	border: #EAE9E6 solid 1px;
	background-color: #FAF9F5;
}
table#gray-review {
	border-collapse: collapse;
	margin-top: 1px;
	margin-bottom: 14px;
	border: #EAE9E6 solid 1px;
}
table#gray-review td {	
	background-color: #FAF9F5;
}
table#gray-review td img {
	vertical-align: middle;
	margin: 0 15px 0 7px;
}
#filter-tab {
	background: url(/images/buttons/filter-tab.jpg) no-repeat;
	text-align: center;
	padding: 10px 17px;
}
.date-review, .containing {
	width: 90px;
	height: 17px;
	color: #b2b2b2;
	vertical-align: middle;
	padding: 2px;
}
.containing {
	width: 364px;
}
a.dotted {
	border-bottom: #02627a dotted 1px;
	margin: 0 4px;
}
a.dotted:hover {
	border-bottom: none;
	text-decoration: none;
}
.all-review {
	background-color: #e2e1dd;
	padding: 0 7px;
	margin: 0 4px;
}

.all-review a.dotted {
	margin: 0;
}

.word-space {
	word-spacing: 10px;
}
#green-update, .notice, .error, .dashboard_notification {
	background: #80D46C;
	padding: 8px;
	color: #ffffff;
	margin-bottom: 15px;
}
.warning {
    padding: 8px;
    margin-bottom: 15px;
    background-color: yellow;
}
.field_tools .error, 
#content .error p {
	margin-bottom: 0px;
}
.error {
	background: #FA1919;
}
.dashboard_notification {
	background: #BF453F;
}
.dashboard_notification a {
	font-weight: bold;
}
.errorExplanation {
	background: #800000;
	padding: 12px 0px;
	color: #ffffff;
	text-indent: 12px;
	margin-bottom: 15px;
}
.grey_text {
	color: #bbb;
}

.dark_grey_text {
  color: #888;
}


/* FIXME need to unify this some how*/
/*year select*/
table td #user_birthday_1i, #coupon_expires_at_1i {
	width: 60px
}
/*month select*/
table td #user_birthday_2i, #coupon_expires_at_2i {
	width: 100px
}
/*day select*/
table td #user_birthday_3i, #coupon_expires_at_3i {
	 width: 45px
}

table td #user_gender {
	 width: 70px
}
/*--begin reseller-tools--*/
.margin_friendly {
	margin: 0px 32px;
}
.price {
	color: #7F7F7F;
	font-size: 11px;
}
.gray {
	color: #666666;
}
.price_input {
	width: 50px;
	height: 17px;
	text-align: center; 
	vertical-align: middle;
	padding-top: 2px;
}
.off {
	color: #C5002E;
	font-size: 13px;
	font-weight: bold; 
	padding-left: 110px;
}
.faq p {
	padding: 0 12px;
}
.faq p.button {
	text-align: center;
}
.line_30 {
	line-height: 30px;
}
/*--end reseller-tools--*/

/*--begin reseller-contract--*/
table.sites-table td.name {
	width: 98px;
}

table.sites-table td.reseller {
	width: 65px;
	background-color: #FF0000;
}
table.sites-table tr.yell {
	background-color: #FFF7C6;	
	border-bottom: #DFDFDF solid 1px;
}
#contract-table {
  width: 754px;
}
#contract-table td {
	border: none;
	padding-left: 0px;
}
td.contact_details {
	padding-top: 11px;
}
td.small_font {
	font-size: 0.89em; 
}
td.contract_price {
	width: 73px;
}
#contract-table td.border {
	border-bottom: #DFDFDF solid 1px;
}
.width_13 {
	width: 13px;
}
.contract_bottom {
	font-size: 1px;
	padding: 0px;
}
/*--end reseller-contract--*/
 	
/*--begin reseller-orders--*/
.active_row {
	background-color: #FAF9F6;
}

#orders-table {
	padding: 0px;
	margin: 0px;
	}
#orders-table table td.head {
	background: url(/images/background/gradient.jpg) repeat-x top;		
}
.order_row.hover td, .order_details_row.hover td {
	background-color: #FAF9F6 !important;
} 
.order_caption_row {
	cursor: pointer;
}

.details_row table {
	display: none;
}
.reseller_dashboard tr.opened td {
  background-color: #FFF7C6;
}
.reseller_dashboard td#width_754 span {
  width: 137px;
}
table#width_754 {
	width: 754px;
}
table#width_754 #width_variable {
	width: 754px;
}
table.reseller_dashboard #width_variable {
	width: 100%;
}

.orders div.drop-down {
	background-color: #fffed8;
}
.orders .drop-down th {
	border-bottom: none;
}

/*--end reseller-orders--*/

/*--begin reseller-settings--*/
p.settings_checkbox, div.settings_checkbox {
	margin: 0px 10px 0px 20px;
}
p.settings_checkbox {
	margin-bottom: 5px;
}
p.settings_checkbox select {
	vertical-align: middle;
}
div.settings_checkbox {
	padding-bottom: 30px;
	margin-bottom: 10px;
	position: relative;
}
.settings_checkbox .legend {
	width: 180px;
	display: block;
	float: left;
	font-weight: bold;
}
.gray-text {
	display: block;
	font-size: 10px;
	color: #666;
}
.settings_checkbox {
	line-height: 150%;
}
.settings_row {
	margin: 5px 0px;
}
.settings_checkbox input {
	font-size: 11px;
	padding:4px 0px;
}
.settings_checkbox input.radio {
	
}
p.setting-button {
	margin-left: 11px;
}
.settings_checkbox input.url-field {
	margin-left: 17px;
	width: 425px;
}

.settings_input { 
	position: absolute;
	left: 0px;
	bottom: 5px;
}
.settings_page {
	padding-top: 30px;
	float: left;
}
.settings_page p span.my {
	margin-left: 20px;
}
/*--end reseller-settings--*/

/*--begin reseller-console--*/
.reseller-fieldset {
/*	padding: 8px 0px;*/
	border: #E9EAE9 solid 1px;
	margin-right: 0px;
	margin-bottom: 20px;
	background: url(/images/tools_menu_gradient_bg.gif) repeat-x 0px -1px #f5f5f5;
}
.reseller-fieldset ul {
	padding-left: 0px;
	list-style-type: none;
}
.reseller-fieldset ul li a {
	margin-left: 9px;
	margin-right: 9px;
}
.reseller-fieldset ul li a.no_border, .faq ul li a.no_border {
	border: none;
}

.reseller-fieldset ul li a:hover {
	background: none;
}

.reseller-fieldset ul li a#active {
	background: #3D3D3D;
	margin-left: 0px;
	padding-left: 23px;
	/*position: absolute;
	width: 143px;*/
}
.reseller-fieldset legend {
	color: #999999;
	font-weight: bold;
	margin: 0px 13px;
	padding: 0px 4px;
}
.account-margin {
	margin-top: 20px;
	padding-top: 10px;
}
/*--end reseller-console--*/

/*--begin flexiible button--*/
.b, .b span {
	 display: -moz-inline-box;
	 display: inline-block;
}
.b {
	 background: url() no-repeat left;
	 padding-left: 10px;
	 cursor: pointer;
}
.b span { 
	background: url() no-repeat right;
	padding-right: 10px;
}
.b span span { 
	background: url(/images/buttons/middle.gif) repeat-x center;
}
.my span span { 
	padding: 10px 0px 12px 0px;
	font: bold 11px Arial, Helvetica, sans-serif;

}
.my {
	background-image: url(/images/buttons/l_corner.gif);
}
.my span { 
	background-image: url(/images/buttons/r_corner.gif);
	background-position: right;
}
a.b {
	color: #2A2A2A;
}
a.b:hover {
	text-decoration: none;
}

.standard-button {
	background: url("/images/sprite_no-repeat.png") no-repeat 0px 0px;
	_background: url("/images/sprite_no-repeat.gif") no-repeat 0px 0px;
	padding-left: 10px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	display: -moz-inline-box;
	display: inline-block;
	cursor: pointer;
}

.standard-button span {
	padding-right: 10px;
	background: url("/images/sprite_no-repeat.png") no-repeat right -30px;
	_background: url("/images/sprite_no-repeat.gif") no-repeat right -30px;
	display: -moz-inline-box;
	display: inline-block;
}

.standard-button span span {
	background: url("/images/sprite_no-repeat.png") repeat-x 0px -60px;
	_background: url("/images/sprite_no-repeat.gif") repeat-x 0px -60px;
	padding: 9px 0px;
	font-family: Arial;	
	font-size: 11px;
	color: #fff;
	line-height: 10px;
	white-space: nowrap;
}


/*--end flexiible button--*/
.margin_0 {
	margin-bottom: 0px;
}
.padd_top30 {
	padding-top: 30px;
}
.api-off {
	background: #faf9f5;
	color: #02627a;
}
.api-off p, .api-off div.api-access-info {
	 padding: 6px;
}

div.api-access-info {
	font-size: 10px;
}
#legend * {
  font-size: 7pt;
}
#legend dt, #legend dd {
	float: none;
	width: auto;
}
.bus_account h3 {
	background-color: #fffca5;
}
.border_bottom {
	border-bottom: #E9EAE9 solid 1px;
}
td span.long_name {
	display: block;
	width: 100px;
	overflow: hidden;
}
.float_right {
	float: right;
}
.float_left {
	float: left;
}
.padd_cancel {
	padding-top: 10px;
	padding-right: 15px;
}
a#logo {
	float: left;
}
.off_text {
	text-align: center;
	padding: 10px 0px;
}
.clear_both {
	clear: both;
	font-size: 1px;
}
td.date span.long_name {
	width: 80px;         /* business dashboard  table */
}
#login_form td.text {
	width: 70px;
}
#login_form td span.float_left {
	margin: 0px;
	padding: 0px;  
}
#login_form td input {
	width: 241px;
}
.margin_login {
	margin-left: 10px;
}
table#login_button {
	border-collapse: collapse;
	width: 250px;
}
table#login_button td {
	vertical-align: top;
}
table#login_button td.forgot {
	width: 120px;
} 
table#login_button td.login_align {
	text-align: right;
} 
.businesses #content {
	border: none;
	padding: 0px;
}
/* Flexible blue button begin */
.blue span span { 
	background: url(/images/buttons/middle_blue.gif) repeat-x center;
}
.my span span { 
	padding: 10px 0px;
}
.blue { 
	background-image: url(/images/buttons/l_corner_blue.gif);
}
.blue span { 
	background-image: url(/images/buttons/r_corner_blue.gif);
	background-position: right;
}
.graybg { 
	background-image: url(/images/buttons/l_corner_blue_graybg.gif);
}
.graybg span { 
	background-image: url(/images/buttons/r_corner_blue_graybg.gif);
	background-position: right;
}
a.blue {
	color: #fefefe;
}
a.blue:hover {
	text-decoration: none;
	color: #fff;
}
/* Flexible blue button end */

/* dashboard messages */
.dashboard_message {
	border: 3px solid #bbcdff;
	padding: 18px;
	padding-left: 35px;
	font-size: 13px;
	margin-bottom: 14px;
	background: url(/images/icons/not_site_seal.gif) no-repeat 10px 10px;
}
.dashboard_message span {
	color: #dd0000;
}
.dashboard_message a {
	text-decoration: underline;
} 
.dashboard_message a:hover {
	text-decoration: none;
} 
.message_action {
  float: right;
}
.billing_tools textarea, .contacts_info textarea  {
	font: 13px Arial, Helvetica, sans-serif;
}
table.be_my_buttons td {
	vertical-align: middle;
}
table.be_my_buttons td a {
	margin-left: 5px;
}
table.be_my_buttons td.button {
	padding-right: 5px;
}
.button_cancel {
	overflow: hidden;
}
.button_cancel span.padd_cancel {
	margin-left: 15px;
} 
.button_cancel span.padd_cancel a {
	margin-left: 8px;
}
.button .padd_cancel {
	padding-left: 8px;
	padding-top: 10px;
}
.button .padd_cancel a {
	padding-left: 4px;
	color: #BD2239;
}

.small_button .padd_cancel {
	padding-left: 8px;
	padding-top: 6px;
	font-size: 11px;
}
.small_button .padd_cancel a {
	padding-left: 1px;
	color: #BD2239;
}

p span.review_description {
	display: block;
	width: 450px;
	overflow: hidden;
}
p span.review_description_long {
	display: block;
/*	width: 570px;*/
	overflow: hidden;
}

/* business manage begin */
p.show_more {
	margin-top: 10px;
	width: 532px;
}
/* business manage end */
table.business_form {
	padding-top: 24px;
	width: 100%;
}
.wrap_email_propeties {
	background-color: #F1F1F1;
	padding: 20px 0px;
}
table.email_propeties {
	margin-top: 10px;
}
#content table.email_propeties td p {
	margin-bottom: 0px;
}
table.business_form td.input {
	text-align: left;
}
table.business_form td.text {
	text-align: right;
	width: 200px;
}
table.business_form td.select select {
	width: 93px;
}
table.business_form td.input input, table.business_form td.template select {
	width: 242px;
}

table.business_form td p.padd_cancel span {
	margin: 0 8px;
} 
table.business_form td p.padd_cancel a {
	color: #DD0000;
	border-bottom: 1px dotted #DD0000;
	margin-left: 0px;
}
table.business_form td p.padd_cancel a:hover {
	border-bottom: none;
	text-decoration: none;
	margin-left: 0px;
}
p.settings_checkbox select {
	margin-bottom: 5px;
}
.settings_text {
	padding: 0px 20px 10px 20px;
}
/* Multiple companies lightbox */
#multi_companies {
	border: 1px solid #686868;
	padding: 20px 10px;
	background-color: #fbfbfb;
	width: 455px;
	height: 300px;
	overflow: hidden;
	font: 14px Arial, Helvetica, sans-serif;
	color: #000;
}
#multi_companies h1 {
	font-weight: bold;
	font-size: 14px;
	background-color: #fbfbfb;
	padding: 0px;
	margin-bottom: 25px;
}
#multi_companies table.company_selector {
	width: 100%;
}
#multi_companies table.company_selector td {
	border: none;
	background: #fbfbfb;
}
#multi_companies table.company_selector td.companies h2 {
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 5px;
}
#multi_companies table.company_selector td.companies select {
	height: 155px;
}
#multi_companies table.company_selector td.companies select.selected_companies {
	height: 183px;
}
#multi_companies table.company_selector td.companies, 
#multi_companies table.company_selector td.companies select {
	width: 200px;
	padding: 0px;
}
#multi_companies table.company_selector td.companies input {
	width: 196px;
}
#multi_companies table.company_selector td.companies input {
	margin-bottom: 7px;
	color: #666;
}
#multi_companies table.company_selector td.navigation {
	vertical-align: middle;
	text-align: center;
}
#multi_companies table.company_selector td.navigation img {
	display: block;
	margin: 0 auto;
	margin-bottom: 5px;
}
#multi_companies table.company_selector td.button {
	text-align: right;
	padding: 15px 0 0 0;
}
#multi_companies table.company_selector td.companies select .level1 {
	font-weight: bold;
	padding-left: 5px;
}
#multi_companies table.company_selector td.companies select .level2 {
	padding-left: 15px;
}
#multi_companies table.company_selector td.companies select .level3 {
	padding-left: 25px;
}

/*upgrade suggestion*/
div.upgrade-info {
  background-color: #fffdc0;
  padding: 10px 10px;
  color: #000;
  font-size: 11px;
}

div#footer .language_selector span.choose_language {
	margin-right: 5px;
}
div#footer div.language_selector a, div#footer div.language_selector span {
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: top left;
}

div#footer div.language_selector span.choose_language {
	padding-left: 0px;
}

div#footer div.language_selector a.en, div#footer div.language_selector span.en {
	background-image: url("/images/icons/us.gif");
}

div#footer div.language_selector a.en-gb, div#footer div.language_selector span.en-gb {
	background-image: url("/images/icons/english.gif");
}

div#footer div.language_selector a.de, div#footer div.language_selector span.de {
	background-image: url("/images/icons/german.gif");
}

div#footer div.language_selector a.es, div#footer div.language_selector span.es {
	background-image: url("/images/icons/spanish.gif");
}

div#footer div.language_selector a.fr, div#footer div.language_selector span.fr {
	background-image: url("/images/icons/french.gif");
}

.merchant-report div {
	float: right;
	width: 290px;
}

.merchant-report strong {
	display: block;
	float: left;
	overflow: hidden;
	width: 120px;
}
.text-content{
	position:absolute;
	background-color:white;
	color:black;
	padding:10px;
	border:1px solid grey;
	white-space:normal;
	width:600px;
	text-align:left;
}

.text-content .close{
	text-align:right;
	margin-bottom:10px;	
}
tr.head {border-bottom: 1px solid #ccc;}

.pid {width: 100%;}
.pid td{border-top: 1px solid #ccc; padding: 5px 9px;}

.small-text{font-size:11px;}

div.batch_controls {
  position: relative;
  top: 0;
  left: 15px;
  width: 88px;
  height: 15px;
}
div.batch_controls a {
  position: absolute;
  top: 3px;
  left: 0;
}
table#abc_batches th, table#abc_batches td {
  text-align: center !important;
  padding: 2px 5px;
  margin: 0;
}


.eq_info_window_wrapper{
  position:relative;
  display:none;
}

.eq_info_window{
  margin-top:15px;
  right:35px;
  width:300px;
  height:200px;
  background:#eee;
  position:absolute;
  padding:10px;
}