.dashboard {
	border-top: 0px;
	position: relative;
	overflow: hidden;
	margin: 1px;
	.height: 1%;
}

.dashboard td {
	padding: 0px;
	border: 0px;
}

.dashboard p {
	margin-bottom: 0px !important;
}

.dashboard .head {
	line-height: 38px;
	background: #c8c8c8 url("../images/sprite_repeat-x.gif") repeat-x 0px -514px;
	padding-left: 15px;
	font-size: 18px;
	font-weight: bold;
	border-bottom: 1px solid #DBDBDB;
}

.dashboard .main-title {
	min-height: 71px;
	_height: 71px;
	background: #c8c8c8 url("../images/sprite_repeat-x.gif") repeat-x 0px -514px;
	position: relative;
	overflow: hidden;
}

.dashboard .main-title a,
.dashboard .main-title span.t_item {
	font-size: 9px;
	font-weight: normal;
	font-family: tahoma;
	color: #000;
	float: left;
	width: 90px;
/*	height: 71px;*/
	text-align: center;
	line-height: 11px;
	padding-bottom: 10px;
}

span.t_item_wide {
	width: 97px !important;
}

.dashboard .main-title a span,
.dashboard .main-title span.t_item span {
	margin-top: 10px;
	font-size: 22px;
	line-height: 25px;
	font-family: arial;
	display: block;
}

.dashboard .main-title span.t_green {
	color: #46ac00;
}

.dashboard .main-title span.t_red {
	color: #d70000;
}

.dashboard .main-title span.t_brown {
	color: #cca300;
}

.dashboard .main-title span.t_blue {
	color: #ff6555;
}

.dashboard .main-title span.t_light_blue {
	color: #409cdf;
}

.dashboard .main-title span.t_dark_blue {
	color: #356ea5;
}

.dashboard .main-title span.t_pink {
	color: #ff6555;
}

.dashboard .main-title span.t_dark_red {
	color: #930000;
}


.dashboard .main-title span.t_item span.grey {
	display: block;
	color: #666;
	font: normal 9px Tahoma;
	margin-top: 0px;
}

.dashboard .main-title table.menu-table {
	margin-left: 8px;
}

.dashboard .main-title table tr.menu-row {
	height: 71px;
	_height: 71px;
}

.dashboard .main-title table td.hover:hover {
	background: #f0f0f0 url("../images/sprite_repeat-x.gif") repeat-x 0px -606px;
}

.dashboard .main-title a:hover {
	text-decoration: none;
}

.dashboard .main-title .datepicker {
	display: block;
	position: absolute;
	top: 5px;
	right: 10px;
	width: 140px;
	background: none;
	border: 0px;
}

.dashboard .main-title .datepicker label{
	display: block;
	width: 30px;
}

.dashboard .main-title .form {
	border: 0px;
	padding: 0px;
}

#date_range_form .dates td{
	padding-top: 5px !important;
}

#date_range_form .dates td.apply {
	vertical-align: middle;
	padding-top: 1px !important;
}

#date_range_form .dates td.apply a {
	margin-left: 0px;
	padding-bottom: 0px;
}

#date_range_form .dates td a{
	float: none;
	display: inline;
	background: none;
	color: #02627a;
	border-bottom: 1px dotted #026882;
	margin: 5px;
}

#date_range_form .dates td a:hover {
	border-bottom: 0px;
}

#date_from, #date_to {
	width: 80px;
}

.dashboard .main-title input#rangeSelect2Months {
	width: 135px;
}
.dashboard .dashboard-area {
	overflow: hidden;
	clear: left;
	position: relative;
	margin-bottom: 20px;
	_height: 1%;
}

.dashboard .w-o-title {
	border: 1px solid #dbdbdb;
}

.dashboard .container {
	width: 509px;
	_width: 505px;
	float: left;
	overflow: hidden;
	.height: 1%;
}

.dashboard .container .item {
	display: inline;
	position: relative;
	width: 243px;
	height: 214px;
	float: left;
	border: 1px solid #dbdbdb;
	margin: 10px 0px 0px 14px;
	_margin-left: 7px;
}

.dashboard .container .bot {
	height: 230px;
}

.dashboard .container .item.top {
	margin-top: 0px;
}

.dashboard .container .item.left {
	margin-left: 0px;
}

.dashboard .container div.average {
	height: 240px;
}

.dashboard .container .item span.wrap {
  overflow: hidden;
  height: 190px;
}

.dashboard .container .item span.wrap,
.dashboard .container .item img {
	display: block;
}

.dashboard .container .item img.disabled {
	margin-top: 3px;
}

.dashboard .container .item .head {
	line-height: 23px;
	padding-left: 10px;
	font-size: 12px;
	white-space: nowrap;
	overflow: hidden;
}

.dashboard .container .item .head a {
	text-decoration: underline;
	white-space: nowrap;
	overflow: hidden;
}

.dashboard .container .item .head a:hover {
	text-decoration: none;
}

.dashboard .container .item .head span {
	font-size: 10px;
}

.dashboard .container .item .head span.small {
	font-size: 9px;
	font-family: tahoma;
	font-weight: normal;
}

.dashboard .container .item.average .head span.small {
	display: block;
	line-height: 10px;
	margin: -3px 0 3px 0;
}

.dashboard .container .item .head span.disabled,
.dashboard .container .item .head span.active {
	display: block;
	position: absolute;
	right: 10px;
	top: 5px;
	width: 52px;
	height: 13px;
	text-align: center;
	color: #fff;
	line-height: 13px;
	font-weight: bold;
	font-family: tahoma;
}

.dashboard .container .item .head span.disabled {
  background: url("../images/dashboard/grey-input.jpg") no-repeat 0px 0px;
}

.dashboard .container .item .head span.active {
	background: url("../images/dashboard/green-input.jpg") no-repeat 0px 0px;
}

.dashboard .container .item .head span.white {
	display: block;
	position: absolute;
	right: 10px;
	top: 4px;
	width: 40px;
	height: 14px;
	text-align: center;
	color: #000;
	line-height: 14px;
	font-weight: bold;
	font-family: tahoma;
	background: url("../images/dashboard/white-input.jpg") no-repeat 0px 0px;
}

.dashboard .container .item .head span.yellow {
	display: block;
	position: absolute;
	right: 10px;
	top: 4px;
	width: 40px;
	height: 14px;
	text-align: center;
	color: #000;
	line-height: 14px;
	font-weight: bold;
	font-family: tahoma;
	padding: 0px;
	background: url("../images/dashboard/yellow-input.jpg") no-repeat 0px 0px;
}

.dashboard .container .item .textbar {
	position: relative;
	margin: 10px;
  margin-bottom: 5px;
  font-family: tahoma;
	font-size: 9px;
	line-height: 9px;
}

.dashboard .container .item .textbar .raw{
	background: url("../images/dashboard/blue-line.jpg") no-repeat 0px 4px;
	color: #00b0d6;
	padding-left: 12px;
	margin-left: 10px;
}

.dashboard .container .item .textbar .ratepoint{
	background: url("../images/dashboard/yellow-line.jpg") no-repeat 0px 4px;
	color: #d4b202;
	padding-left: 12px;
	margin-left: 10px;
}

.dashboard .container .item .textbar .views {
	background: url("../images/dashboard/green-line.jpg") no-repeat 0px 4px;
	color: #80de3f;
	padding-left: 12px;
	margin-left: 10px;
}

.dashboard .container .item .textbar .clicks {
	background: url("../images/dashboard/violet-line.jpg") no-repeat 0px 4px;
	color: #a633ff;
	padding-left: 12px;
	margin-left: 10px;
}

.dashboard .container .item .textbar .select{
	position: absolute;
	right: 0px;
	_margin-right: 10px;
}

.dashboard .container .item .textbar .select span{
	background-color: #dbdbdb;
}

.dashboard .container .item .textbar .select a {
	border-bottom: 1px dotted #026882;
}

.dashboard .container .item .textbar .select a:hover {
	border-bottom: 0px;
	text-decoration: none;
}

.dashboard .container .item .install {
	position: absolute;
	width: 159px;
	top: 87px;
	left: 42px;
}

.email_campaigns .container .item .install {
	left: 182px;
}

.dashboard .container .item .install .top {
	height: 5px;
	font-size: 1px;
	line-height: 5px;
	background:  url("../images/dashboard/install-top.gif") no-repeat 0px 0px;
	width: 159px;
	margin: 0px;
}

.dashboard .container .item .install .bottom {
	height: 5px;
	font-size: 1px;
	line-height: 5px;
	background:  url("../images/dashboard/install-bottom.gif") no-repeat 0px 0px;
	width: 159px;
}

.dashboard .container .item .install .text {
	background-color: #ffe13d;
	padding: 5px 10px;
	width: 139px;
	font-weight: bold;
}

.dashboard .container .item .install .text a {
	font-weight: normal;
}

.dashboard .container .item ul {
	display: block;
	position: absolute;
	overflow: hidden;
	bottom: 5px;
	left: 10px;
	font-size: 9px;
	font-family: tahoma;
}

.dashboard .container .item ul li {
	line-height: 12px;
	padding-left: 8px;
	background: url("")  no-repeat 0px 3px;
}

.dashboard .container .item ul li {
  display: inline;
}

.dashboard .container .item ul li.star5 {
	white-space: nowrap;
	background-image: url("../images/dashboard/5star.jpg");
}

.dashboard .container .item ul li.star4 {
	background-image:  url("../images/dashboard/4star.jpg");
}
.dashboard .container .item ul li.star3 {
	background-image:  url("../images/dashboard/3star.jpg");
}
.dashboard .container .item ul li.star2 {
	background-image:  url("../images/dashboard/2star.jpg");
}
.dashboard .container .item ul li.star1 {
	background-image:  url("../images/dashboard/1star.jpg");
}

.dashboard .news {
	width: 212px;
	float: right;
	border: 1px solid #dbdbdb;
	margin: 10px 10px 0 0;
	position: relative;
	height: 427px;
}

.dashboard .news .head {
	line-height: 23px;
	padding-left: 10px;
	font-size: 12px;
	background-color: #d5f0f6;
	background-image: none;
}

.dashboard .news .blog {
	height: 391px;
}

.dashboard .news .text {
	padding: 10px;
}

.dashboard .news .blog p.more {
	display: block;
	position: absolute;
	line-height: 25px;
	text-align: center;
	width: 83px;
	bottom: 34px;
	left: 60px;
	background: #d5f0f6 url("../images/dashboard/more-top.jpg") no-repeat 0px 0px;
}

.dashboard .news .blog p.more a {
	font-size: 10px;
	font-family: tahoma;
	font-weight: bold;
	text-decoration: underline;
}

.dashboard .news .blog p.more a:hover {
	text-decoration: none;
	cursor: pointer;
}

.dashboard .news .text p {
	margin-bottom: 0px !important;
}

.dashboard .news .text .title {
	font-size: 11px;
	color: #026882;
	font-weight: bold;
	font-family: tahoma;
}

.dashboard .news .text .date,
.dashboard .news .text .by {
	font-family: tahoma;
	font-size: 9px;
	color: #999;
	line-height: 11px;
}

.dashboard .news .text p.by,
.dashboard .news .text .title {
	margin-bottom: 5px !important;
}

.dashboard .news .foot {
	height: 41px;
	background-color: #d5f0f6;
	margin-top: 20px;
	position: absolute;
	width: 212px;
	bottom: 0px;
	bottom: -1px;
	_left: 0px;
}

.dashboard .news .foot p.nav {
	font-size: 10px;
	font-family: tahoma;
	color: #ccc;
	position: relative;
	top: 12px;
	line-height: 28px;
	margin: 0px 10px;
	border-top: 1px solid #dbdbdb;
}

.dashboard .news .foot p.nav a {
	text-decoration: underline;
}

.dashboard .news .foot p.nav a:hover {
	text-decoration: none;
}

.dashboard .custom-home-info {
  width: 212px;
  float: right;
  position: relative;
  height: 427px;
}

/*dashboard-start*/

.dashboard .container .start {
	position: relative;
	width: 501px;
	height: 290px;
	border: 1px solid #dbdbdb;
	margin: 10px 0px 0px 14px;
	_margin-left: 7px;
	background: url("../images/dashboard/dashboard-screen.jpg") no-repeat 0px 0px;
}

.dashboard .container .item.action {
	width: 501px;
	height: auto;
	_margin-left: 4px;
}

.dashboard .container .item.action p {
	border-bottom: 1px solid #dbdbdb;
	padding: 10px 0px;
}

.dashboard .container .item.action p.last {
	border-bottom: 0px;
}

.dashboard .container .item.action p a {
	margin-left: 10px;
	background: url("../images/dashboard/a-list-item.jpg") no-repeat 0px 4px;
	padding-left: 8px;
	font-weight: bold;
	text-decoration: underline;
}

.dashboard .container .item.action p a:hover {
	text-decoration: none;
}

.dashboard .container .item.action p span {
	display: block;
	margin: 0px 18px;
	font-size: 10px;
	font-family: tahoma;
}

.dashboard .container .start .install {
	position: absolute;
	width: 159px;
	top: 100px;
	left: 170px;
}

.dashboard .container .start .install a {
	color: #000;
	cursor: pointer;
}

.dashboard .container .start .install a:hover {
	text-decoration: none;
}

.dashboard .container .start .install .top {
	width: 159px;
	height: 5px;
	font-size: 1px;
	line-height: 5px;
	background:  url("../images/dashboard/install-top.gif") no-repeat 0px 0px;
}

.dashboard .container .start .install .bottom {
	width: 159px;
	height: 5px;
	font-size: 1px;
	line-height: 5px;
	background:  url("../images/dashboard/install-bottom.gif") no-repeat 0px 0px;
}

.dashboard .container .start .install .text {
	width: 139px;
	background-color: #ffe13d;
	padding: 5px 10px;
	text-align: center;
}

.dashboard .container .start .install .text img {
	display: block;
}

/*end dashboard-start*/

/*.dashboard-body .header .submenu {
	display: none;
}
*/
.dashboard-body .header .help-menu {
	top:68px;
}

.dashboard .get-started {
	position: relative;
	margin: 0px 10px 0 0;
	width: 212px;
	height: 27px;
	border: 1px solid #dbdbdb;
	float: right;
	background: url("../images/sprite_repeat-x.gif") repeat-x 0px -700px;
	z-index: 1;
}

.dashboard .get-started a {
	display: block;
	margin: 5px;
	font-weight: bold;
	color: #000;
}

.dashboard .get-started a.closed {
	background:  url("../images/dashboard/get_started_close.png") no-repeat 0px 2px;
}

.dashboard .get-started a:hover {
	text-decoration: none;
}

.dashboard .get-started-area {
	position: relative;
	float: left;
	margin: 0px;
	width: 509px;
	_width: 496px;
	height: 466px;
	border: 1px solid #dbdbdb;
}

.dashboard .get-started-area .title {
	position: relative;
	overflow:hidden;
	height: 64px;
	background: #ffe877 url("../images/sprite_repeat-x.gif") repeat-x 0px -700px;
	color: #717070;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 24px 0;
}

.dashboard .get-started-area .title h2 {
	font-size: 16px;
	font-family: arial;
	color: #000;
	margin-bottom: 5px;
	font-weight: bold;
}

.dashboard .get-started-area .title a.close {
	display: block;
	position: absolute;
	top: 33px;
	right: 20px;
	padding-left: 10px;
	font-size: 9px;
	color: #666;
	background:  url("../images/dashboard/x_close.gif") no-repeat 0px 4px;
	text-decoration: underline;
}

.dashboard .get-started-area .title a.close:hover {
	text-decoration: none;
}

.dashboard .get-started-area ul {
	overflow: hidden;
	margin: 0 10px;
}

.dashboard .get-started-area ul li {
	overflow: hidden;
/*	_zoom: 1;*/
	font-size: 11px;
	border-bottom: 1px solid #dbdbdb;
	padding: 10px 0;
}

.dashboard .get-started-area ul li img {
	float: left;
}

.dashboard .get-started-area ul li div {
	overflow: hidden;
	_zoom:1;
}

.dashboard .get-started-area ul li a.title-link {
	display: block;
	margin-bottom: 10px;
	font-size: 14px;
	color: #026882;
	font-weight: bold;
	text-decoration: underline;
	_zoom: 1;
}

.dashboard .get-started-area ul li a.video {
	float: right;
}

.dashboard .get-started-area ul li a.title-link:hover {
	text-decoration: none;
}

.dashboard .get-started-area .need-help {
	position: absolute;
	bottom: 10px;
	width: 490px;
	_width: 470px;
	margin: 0 10px;
	text-align: right;
	font-size: 11px;
	line-height: 19px;
	padding-top: 5px;
}

.dashboard .get-started-area .need-help .help-text{
	overflow: hidden;
	_zoom: 1;
}

.dashboard .get-started-area .need-help img {
	float: right;
	margin: 1px 0 0 10px;
}

.dashboard .get-started-line {
	position: absolute;
	width: 11px;
	height: 27px;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	background: url("../images/dashboard/get_started_bg.png") repeat-x 0px 0px;
	z-index: 99999;
	top: -1px;
	left: -10px;
}