.digit-loading-bar {
	background-color: #fff;
	padding-top: 15px;
	margin-bottom: 10px;
}

.digit-loading-bar .limit-title {
	margin-bottom: 10px;
}

.digit-loading-bar .limit-title a {
	float: right;
	margin-left: 40px;
}

.digit-loading-bar .diagram {
	float: left;
	border: 0px;
	height: 5px;
	width: 136px;
	margin: 6px 5px 0px;
	background-color: #ccc;
}

.digit-loading-bar .diagram div {
	height: 5px;
	font-size: 1px;
}

.digit-loading-bar .used {
	margin-left: 5px;
	_margin-left: 10px;
}

.digit-loading-bar a {
	margin-left: 5px;
}

.digit-loading-bar a:hover {
	text-decoration: none;
}
