/*console.css*/

html, body {height: 100%;}
html>body #master_wrapper {
	height: auto;
	min-height: 100%;
}

#master_wrapper {
	position: relative;
	height: 100%;
}

#header-new {
	padding-top:0px;
	z-index: 1;
	position: relative;
}

body {
	background: #fff url("/images/navigation/body_bg.jpg") repeat-x 0px 0px;
	color: #000;
	font: 62.5%/1.6em "Lucida Grande", Arial, Helvetica, sans-serif;
	position: relative;
}

#sidebar_left {
	padding-top: 0px;
	width: 201px;
	z-index: 100;
	float: left;
}

#col_mid_console {
	position: relative;
	overflow: hidden;
	margin-left: 216px;
	border: none;
	padding: 0px;
	min-height: 615px;
	padding-top: 26px;
	width: 754px;
	_width: 751px;
}

/*screen.css*/

.inner {
	width:982px;
	margin-bottom: 0px !important;
	position: relative;
	z-index: 0;
	margin: 0px auto;
	overflow: hidden;
}

#content {
	margin-top: 0px;
	position: relative;
	overflow: visible;
	width: 970px;
	min-height: 615px;
	z-index: 99;
	_height: 615px;
}

/*new*/

.user-info {
	background: #013b4c url("/images/sprite_repeat-x.gif") repeat-x 0px -327px;
	overflow: hidden;
	position: relative;
	margin-bottom: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	.height: 1%;
/*	border-bottom: 1px solid #a7d8e6;*/
}

.user-info div.name {
	width: 160px;
	float: left;
	font-size: 12px;
	font-family: arial;
	color: #55eaff;
	overflow: hidden;
	min-height: 45px;
	_height: 1%;
}

.user-info div.name p{
	margin: 10px;
}

.help-video {
  display: block;
  margin-top: 10px;
}

.user-info div.name p.messages {
	font-size: 10px;
	color: #ccc;
	display: none;
}
#content .user-info div.name p {
	margin-bottom: 0px;
}

#content .user-info div.name p.message {
	margin-top: 5px;
  font-size: 10px;
}

#content .user-info div.name p.message a{
	color: #aaa;
}

.user-info div.name p.message span{
	font-size: 12px;
	color: #fff;
}

.user-info a.help {
	display: block;
	width: 25px;
	float: right;
	margin: 10px 0px 0px 0px;
	padding-top: 23px;
	color: #fff;
	font-size: 10px;
	background: url("/images/navigation/question.gif") no-repeat top center;
}

.bottom-bg {
	background: url("/images/navigation/sub_menu_bottom.jpg") no-repeat 0px 0px;
	height:3px;
	width: 201px;
	bottom: 0px;
	position: relative;
	line-height: 2px;
	font-size: 1px;
	left: 0px;
}

.left-trial, .sub-menu, .contact-info {
	background-color: #eee;
	position: relative;
	_height: 1%;
}

.contact-info {
	background-color: #eee;
	background-image: none;
	position: relative;
	_height: 1%;
}

.left-trial {
	margin-bottom: 10px;
	text-align: left;
	font-family: arial;
	padding: 5px 20px;
	font-size: 10px;
}

.left-trial strong {
	font-size: 12px;
	display: block;
}

.left-trial span {
	display: block;
}

.left-trial p {
	margin-bottom: 7px !important;
}


.sub-menu ul {
	margin: 0px 10px;
}

.sub-menu ul li {
	border-bottom: 1px solid #dbdbdb;
}
.sub-menu ul li a {
	padding: 8px;
	display: block;
}
.sub-menu ul li a:hover {
	background: #cceff6 url(/"images/sprite_repeat-x.gif") repeat-x 0px -216px;
	text-decoration: none;
}
.sub-menu ul li a.active {
	text-decoration: none;
  	color: #000;
  	font-weight: bold;
}
.sub-menu ul li.last {
	border-bottom: none;
}

.sub-menu ul li.sub {
	padding-bottom: 0px;
}

.sub-menu ul li.sub ul {
	border-top: 1px solid #dbdbdb;
	background-color: #f7f7f7;
	padding-top: 0px;
	padding: 0px 10px;
	margin: 0px;
}

.seal {
	margin: 10px 0px;
	text-align: center;
}

.contact-info {
	padding: 10px 0px;
	margin-top: 10px;
	overflow: hidden;
}

#content .contact-info p {
	margin: 5px 20px;
}

/*header section begin*/
.header {
	padding: 7px 4px 0 12px;
	height: 54px;
	position: relative;
	z-index: 1000;
	background-color: #414141;
}
.header .logo, .header .menu, .header .trial {
	float: left;
}
.header .menu {
	margin-left: 6px;
	width: 655px;
	height: 36px;
}
.header .menu ul {
	margin: 7px 0 0 5px;
}
.header .menu ul li {
	float: left;
}
.header .menu ul li a {
	text-decoration: none;
	.height: 1%;
	_width: 1%;
	position: relative;
}

.header .menu ul li a span span {
	color: #fff;
	background: url("/images/sprite_repeat-x.gif") no-repeat 0px 0px;
	font-size: 1.2em;
	padding: 8px 5px 5px 10px;
	cursor: pointer;
	.height: 1%;
	_width: 1%;
	white-space: nowrap;
}
.header .menu ul li a.no_separator span span {
	background: none;
}
.header .menu ul li a.active span span {
	padding: 8px 5px 5px 5px;
	_zoom: 1;
	_width: 1%;
}

.header .menu ul li a.first span span {
	background: none;
}

.header .company-logo {
	position: absolute;
	right: 4px;
	top: 36px;
}

.header .register {
	position: relative;
	text-align: right;
	line-height: 16px;
	height: 18px;
}
.header .register ul li {
	display: inline;
	color: #afacac;
}

.header .register ul li select{
	position: relative;
	width: 70px;
	height: 16px;
}

.header .register ul li a {
	color: #fefefe;
	font-size: 1em;
	text-decoration: underline;
	padding: 0 5px;
}

.header .register ul li a:hover {
	text-decoration: none;
}

.header .register ul li a.logout {
	background: url("/images/sprite_repeat-x.gif") no-repeat 0px -30px;
	padding-left: 9px;
}

.header .menu ul li a.active span span, 
.header .menu ul li a.active:hover span span {
	background: #d5d5d5 url("/images/sprite_repeat-x.gif") repeat-x 0px -250px;
	color: #000;
}
.header .menu ul li a.active, .header .menu ul li a.active:hover {
	background: #d5d5d5 url("/images/navigation/menu_active_l.gif") no-repeat left top;
	margin-left: 5px;
} 

.header .menu ul li a.active span, .header .menu ul li a.active:hover span {
	background: #d5d5d5 url("/images/navigation/menu_active_r.gif") no-repeat right top;
	color: #000 !important;
}

.header .menu ul li a, 
.header .menu ul li a span {
	display: block;
}

.header .menu .corner-black-l,
.header .menu .corner-black-r {
	position: absolute;
	width: 1px;
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	background-color: #444;
	top: 0px;
	display: block;
	padding: 0px;
	margin: 0px;
}

.header .menu .corner-black-l {
	left: 0px;
}

.header .menu .corner-black-r {
	right: 0px;
}

.header .company-logo {
	width: 101px;
	background: url("/images/navigation/company_logo_bg.gif") no-repeat top left;
	padding-top: 9px;
	text-align: center;
}

.submenu-top {
	clear: both;
	position: absolute;
	left: 217px;
	top: 61px;
	background: #ededed url("/images/navigation/menu_sub_bg.jpg") repeat-x;
	z-index: 9;
}

.submenu-top ul {
	overflow: hidden;
}

.submenu-top ul li {
	overflow: hidden;
	background: url("/images/sprite_repeat-x.gif") no-repeat 0px -116px;
}

.submenu-top ul li ul {
	position: absolute;
	background-color: transparent;
	background-image: none;
	zoom: 1;
	z-index: 99999;
	top: 25px;
	padding-top: 3px;
}

.submenu-top ul li ul li {
	background-color: #c5f0f6;
	background-image: none;
	float:none;
	zoom: 1;
	white-space: nowrap;
}


.submenu-top ul li ul li a {
	zoom: 1;
	background-image: none !important;
}

.submenu-top ul li ul li a:hover {
	background-image:none;
	border: 0px !important;
}

.submenu-top ul li ul li a.active {
	background-color: #d5f0f6;
}

.submenu-top ul li.header-notice {
	background: none;
}
.submenu-top ul li a {
	color: #000;
	padding: 6px 8px;
	font-size: 1.1em;
	text-decoration: none;
	display: block;
	margin: 0px;
}
.submenu-top ul li a:hover {
	color: #056b84;
	text-decoration: none;
	background: #d5f0f6 url("/images/sprite_repeat-x.gif") repeat-x 0px -148px;
}
.submenu-top ul li a.active {
	background: #9e9e9e url("/images/sprite_repeat-x.gif") repeat-x 0px -181px;
	color: #00252e;
}
.submenu-top ul li.first {
	background: none;
}
.submenu-top .corner_l,
.submenu-top .corner_r {
	position: absolute;
	width: 1px;
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	background-color: #fff;
	bottom: 0px;
}
.submenu-top .corner_l {
	left: 0px;
}
.submenu-top .corner_r {
	right: 0px;
}
.header .help-menu {
	display: none;
	position: absolute;
	top: 100px;
	right: 10px;
}
.header .help-menu ul {
	overflow: hidden;
}
.header .help-menu ul li {
	float: left;
	padding: 0 10px;
}
.header .help-menu ul li a {
	text-decoration: underline;
	font-size: 1em;
	padding: 5px 0;
}
.header .help-menu ul li a:hover {
	text-decoration: none;
}

.header .help-menu ul li.video {
	background: url("/images/navigation/register_separator.gif") no-repeat left center;
}
.header .help-menu ul li.video a {
	background: url("/images/navigation/video-tutorial.gif") no-repeat left center;
	padding-left: 27px;
}
/*header section end*/


/*footer section*/
.footer {
	border-top: 1px solid #dfdfdf;
	height: 60px;
	padding: 12px 0px 0px 20px;
	margin-top: 10px;
}

.footer span.choose_languages, 
.footer ul li {
	float: left;
}

.footer span.language {
	margin-right: 15px;
}

.footer ul li {
	padding-left: 20px;	
	background: url("/images/navigation/footer_list.jpg") no-repeat 7px 7px;
}

.footer ul li.first {
	background: none;
}

/*footer section*/

.header .menu ul li {
	position: relative;
}

.header .menu ul li a {
	padding-left: 1px;
}

.header .menu ul li a span { 
	padding-right: 1px;
}

.header-notice {
  padding: 6px 8px;
}

div.language_selector {
	font-size: 10px;
	position: relative;
}

div.language_selector a.lang_selected {
	font-size: 10px;
	color: #666666;
	font-weight: bold;
}

div.footer span.copyright {
	float: left;
	width: 200px;
}

div.footer span.copyright span.reserv {
	display: block;
	padding-left: 13px;
}

div.language_selector a, div.language_selector span {
	padding-left: 20px;
}

div.footer div.language_selector span.choose_language {
	margin-right: 5px;
}

div.language_selector a.en, div.language_selector span.en {
	background: url("/images/icon_sprite.gif") no-repeat 0px -200px;
}

div.language_selector a.de, div.language_selector span.de {
	background: url("/images/icon_sprite.gif") no-repeat 0px -220px;
}

div.language_selector a.es, div.language_selector span.es {
	background: url("/images/icon_sprite.gif") no-repeat 0px -240px;
}

div.language_selector a.fr, div.language_selector span.fr {
	background: url("/images/icon_sprite.gif") no-repeat 0px -260px;
}

div.language_selector a.en-gb, div.language_selector span.en-gb {
	background: url("/images/icon_sprite.gif") no-repeat 0px -280px;
}


/*third-level menu section*/
.subsections-menu {
	border: 1px solid #ffffff;
	padding-bottom: 49px;
}

.third_level_submenu {
	margin-bottom: 5px;
}
.third_level_submenu ul {
	overflow: hidden;
	float: none;
	background: #c8c8c8 url("../images/sprite_repeat-x.gif") repeat-x 0px -514px;
	zoom: 1;
}

.third_level_submenu ul li {
	float: left;
	height: 20px;
	padding: 0px !important;
	font-size: 11px;
	font-family: arial;
	border-right: 1px solid #fff;
	background: #c8c8c8 url("../images/sprite_repeat-x.gif") repeat-x 0px -514px;
	display: inline;
}

.third_level_submenu ul li:hover {
	background: #e9e9e9 url('/images/reports/gray_bg_hover.jpg') repeat-x 0px 0px;
}

.third_level_submenu ul li a.active,
.third_level_submenu ul li a.active:hover {
	margin-bottom: 0px;
	background: #ffe877 url("../images/sprite_repeat-x.gif") repeat-x 0px -700px;
	padding: 2px 12px;
	color: #000;
	text-decoration: none;
}

.third_level_submenu ul li a {
	display: block;
	font-size: 11px;
	font-family: arial;
	text-decoration: underline;
	padding: 2px 12px;
}

.third_level_submenu ul li a:hover {
	color: #0096b9;
	text-decoration: underline;
	background: none;
}

/*end menu section*/

/*arrow menu section*/

ul.arrow-steps {
	overflow: hidden;
	width: 100%;
	float: none;
	margin-bottom: 13px;
	_height: 1%;
}

ul.arrow-steps li {
	position: relative;
	float: left;
	height: 20px;
	font-size: 11px;
	font-family: arial;
	background: #e7e7e7 url("/images/steps/grey_bg.png") repeat-x 0px 0px;
	padding: 3px 35px 0px 25px;
}

ul.arrow-steps li.current {
	background: #f7d653 url("/images/steps/yellow_bg.png") repeat-x 0px 0px;
}

ul.arrow-steps li div {
	position: absolute;
	width: 13px;
	height: 23px;
	top: 0px;
	left: -13px;
	font-size: 1px;
	line-height: 1px;
	background: url("/images/steps/grey_tail.png") no-repeat 0px 0px;
	_background-image: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/images/steps/grey_tail.png',sizingMethod='image');
}

ul.arrow-steps li.current div {
	background: url("/images/steps/yellow_tail.png") no-repeat 0px 0px;
	_background-image: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/images/steps/yellow_tail.png',sizingMethod='image');
}

ul.arrow-steps li.completed {
	background: #a9ff3b url("/images/steps/green_bg.png") repeat-x 0px 0px;
}

ul.arrow-steps li.completed div {
	background: url("/images/steps/green_tail.png") no-repeat 0px 0px;
	_background-image: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/images/steps/green_tail.png',sizingMethod='image');
}

ul.arrow-steps li a {
	font-size: 11px;
	font-family: arial;
	color: #000;
	text-decoration: none;
}

ul.arrow-steps li a:hover {
	font-size: 11px;
	font-family: arial;
	color: #016e13;
	text-decoration: underline;	
}


/*end arrow section*/

/* vertical submenu */

.menu .main div {
	position: absolute;
	width: 300px;
	top: 29px;
	left: -2px;
	border-top: 0px;
	padding: 0px;
	z-index: 999999;
}

.menu .main ul {
	margin: 0px;
}

.menu .main div li {
	float: none;
	padding: 0;
	border-left: 2px solid #444444;
	border-right: 2px solid #444444;
	background-color: #fff;
}

.menu .main div li:hover {
	background-color: #ddf8ff;
}

.menu .main div li.bottom {
	border: 0px;
	position: relative;
	padding: 0px;
	background-color: transparent;
	line-height: 0px;
}

.menu .main div li.bottom table {
	width: 100%;
}

.menu .main div li.bottom table td {
	padding: 0px;
	font-size: 0px;
	height: 8px;
}

.menu .main div li.bottom table .left {
	width: 10px;
	background: url('/images/navigation/left_submenu_corner.png') no-repeat 0px 0px;
}

.menu .main div li.bottom table .center {
	background-color: white;
}

.menu .main div li.bottom table .center div {
	width: 100%;
	position: static;
	height: 8px;
	border-bottom: 2px solid #444444;
}

.menu .main div li.bottom table .right {
	width: 10px;
	background: url('/images/navigation/right_submenu_corner.png') no-repeat 0px 0px;
}

.menu .main div a {
	font-weight: bold;
	font-size: 14px;
	border-bottom: 1px solid #ddd;
	padding: 5px 0;
	margin: 0px 15px;
}

.menu .main div ul li a.active,
.menu .main div ul li a.active:hover {
  color: #000;
	padding: 5px 20px;
	background-color: #d5d5d5;
	background-image: none;
	margin: 0px;
}

.menu .main div a span {
	font-size: 10px;
}

.header .menu .main div ul li span,
.header .menu .main div ul li a.active span {
	color: #666 !important;
	background-image: none;
}

.user_accout_link {
	background:transparent url(/images/navigation/register_separator.gif) no-repeat scroll left center;
	padding: 0 4px 0 8px !important;
}

.header .register ul li ul {
	position: absolute;
	z-index: 1000;
	background: #DDF8FF url("/images/navigation/submenu_hover_bg.gif") repeat-x scroll left top;
	right: 20px;
	top: 12px;
	padding: 5px;
}

.header .register ul li ul li {
	display: block;
	float: none;
	text-align: left;
	margin-bottom: 5px;
}

.header .register ul li ul li a {
	color: #02627A;
	font-size: 12px;
	text-decoration: none;
}

.header .register ul li ul li a:hover {
	color: #0099CC;
}



/* end vertical submenu */