.temp{margin:1px;background-image  
: url( 'images/logo.jpg' )  ;width:300px  ;} .sdg{padding:10px;background-image  : url('images/logo.jpg');}
.fas{
margin: 10px;
background-image: url("images/good.jpg");
}
