/* --------- /sample.css --------- */
.temp{margin:1px;background-image  
: url( 'images/logo.jpg' )  ;width:300px  ;} .sdg{padding:10px;background-image  : url('/temp/sdfo.jpg');}
.fas{
margin: 10px;
background-image: url('/images/good.jpg');
}
/* --------- END /sample.css --------- */
/* --------- /foo.css --------- */
div {
  margin-top: 10px;
}
h1 { font-family: sans-serif }
/* --------- END /foo.css --------- */
/* --------- /temp.css --------- */
background: url('http://boogle.com/images/1.png');background-image: url('http://boogle.com/images/1.png');/* --------- END /temp.css --------- */
