/* --------- /sample.css --------- */
.temp{margin:1px;background-image  
: url('images/logo.jpg')  ;width:300px  ;} .sdg{padding:10px;background-image  : url('temp/sdfo.jpg');}
.fas{
margin: 10px;
background-image: url('images/good.jpg');
}
/* --------- END /sample.css --------- */
/* --------- /foo.css --------- */
div {
  margin-top: 10px;
}
h1 { font-family: sans-serif }
/* --------- END /foo.css --------- */
/* --------- /temp.css --------- */
/* --------- /styles/for_import.css --------- */
.test
{
  background-color:Black;
  width: 200px;
  height :300px;
  margin:100px;
}
/* --------- END /styles/for_import.css --------- */

.my_style{padding:1px;background-image  
: url('images/logo.jpg')  ;height:300px  ;} 

.another_style{margin:10px;background-image  : url('temp/unexistent_image.jpg');}

.fas
{
background-image: url('images/too_big_image.jpg');
}
/* --------- END /temp.css --------- */
